# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp
*.zip

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.gz
Project2/cifar-10-batches-py/batches.meta
Project2/cifar-10-batches-py/data_batch_1
*.pyc
Project2/cifar-10-batches-py/data_batch_2
Project2/cifar-10-batches-py/test_batch
Project2/cifar-10-batches-py/data_batch_3
Project2/cifar-10-batches-py/data_batch_4
Project2/cifar-10-batches-py/data_batch_5
Project2/cifar-10-batches-py/readme.html
Project2/preprocess_batch_1.p
Project2/preprocess_batch_2.p
Project2/preprocess_batch_4.p
Project2/preprocess_test.p
*.p
Project2/.ipynb_checkpoints/
Project2/__pycache__/
Project3/.ipynb_checkpoints/
Project3/dlnd_tv_script_generation_files
Project3/dlnd_tv_script_generation.html
Project4/.ipynb_checkpoints/
Project5/.ipynb_checkpoints/
Project6/.ipynb_checkpoints/
Project2 - CIFAR100/.ipynb_checkpoints/
Project2 - CIFAR100/cifar-100-python/
Project2 - CIFAR100/__pycache__/